.card {
    height:60vh;
    margin: 25px;
    padding: 25;
    
    
}

.center {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.center img {
    width: 300px; /* Set the width of the image */
    height: 200px;
    text-decoration: none;
    color:inherit;
    border:none;
    outline: none;
    margin: 20px 0px;
  }
  h4,
  h6{
    font-weight: 1000;
  }
h5 {
    font-weight: 900;
}



