 
 <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <i class="bi bi-list"></i>
      <a class="navbar-brand" href="#">Navbar</a> 
      <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>  -->

<!-- <div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon">

      </div>
      <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo">
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input">
        <div class="header_menu_searchbar_icon">

        </div>

      </div>
      <div class="header_top_signin">
        <span class="header_menu_top_item">Hello, Sign in</span>
        <span class="header_menu_bottom_item">Account & Lists</span>
      </div>
      
      <div class="header_menu_signin">
        <span class="header_menu_top_item">Returns</span>
        <span class="header_menu_bottom_item">& Orders</span>
      </div>
      
    </div>

  </nav>
<nav class="header_bottom"></nav>
</div> -->

<div class="header_container">
  <nav class="header_top">
    <i class="bi bi-list"></i>
    <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo">
    <div class="nav-address">
      <p class="add-first">Deliver to</p>
      <div class="add-icon">
        <i class="fa-solid fa-location-dot"></i>
        <p class="add-second">India</p>
      </div>
    </div>
  <div class="nav-search">
    <select>
      <option>All</option>
    </select>
   </div> 
    <div class="header_menu_searchbar">
      <input type="text" class="header_menu_input" placeholder="Search Amazon" >
      <div class="header_menu_searchbar_icon">
      <mat-icon>search</mat-icon>
        </div>
  </div>
    <div class="header_menu_links">
      <div class="header_top_signin">
        <span class="header_menu_top_item">Hello, Sign in</span>
        
        <span class="header_menu_bottom_item"> Account & Lists</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">Returns</span>
        <span class="header_menu_bottom_item">& Orders</span>
      </div>
      <div class="header_menu_cart">
        <mat-icon>shopping_cart</mat-icon>
        <p class="header_cart_number">3</p>
      </div>
      
    </div>
   
  </nav>
  <!-- <nav class="header_bottom">
  <div class="header_bottom_location_text">
    <span class="header_left_line_one">Delivery to</span>
    <span class="header_left_inlilne_two"><strong>Canada</strong></span>
  </div>
</nav> -->
</div>

