<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="bg-dark col-auto col-lg-10 min-vh-100 d-flex flex-column justify-content-between sidebar">
      <div class="bg-dark p-2">
        <a
          class="d-flex text-decoration-none mt-1 align-items-center text-white"> 
          <!-- <span class="fs-5 ms-5 d-none d-sm-inline">SideMenu</span> -->
        </a>
        <p></p>

        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item py-2 py-sm-0">
            <a href="/dashboard" class="nav-link text-white">
              <i class="fs-5 fa fa-gauge"> </i>
              <span class="fs-4 ms-3 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <p></p>
          <li class="nav-item py-2 py-sm-0">
            <a href="/home" class="nav-link text-white">
              <i class="fs-5 fa fa-house"></i>
              <span class="fs-4 ms-3 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <p></p>
          <li class="nav-item py-2 py-sm-0">
            <a href="/cart" class="nav-link text-white">
              <!-- <i class="fs-5 fa fa-table-list"> </i> -->
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span class="fs-4 ms-3 d-none d-sm-inline">Cart</span>
            </a>
          </li>
          <p></p>
          <li class="nav-item py-2 py-sm-0">
            <a href="/product" class="nav-link text-white">
              <i class="fs-5 fa fa-table-list"></i
              ><span class="fs-4 ms-3 d-none d-sm-inline">Product</span>
            </a>
          </li>
          <p></p>
          <li class="nav-item py-2 py-sm-0">
            <a href="/orders" class="nav-link text-white">
              <i class="fs-5 fa fa-clipboard"></i
              ><span class="fs-4 ms-3 d-none d-sm-inline">Orders</span>
            </a>
          </li>
          <p></p>
          <li class="nav-item py-2 py-sm-0">
            <a href="/customer" class="nav-link text-white">
              <i class="fs-5 fa fa-users"></i
              ><span class="fs-4 ms-3 d-none d-sm-inline">Customer</span>
            </a>
          </li>
        </ul>
        <div style="margin-top: 220px;" class="d-flex justify-content-center align-items-center position-relative">
          <button
            class="btn border-none dropdown-toggle text-white "
            type="button"
            id="triggerId"
            data-aria-expanded="False" >
            <i class="fa fa-user"></i><span class="ms-2">Yourself</span>
          </button>
           <div class="dropdown-menu" aria-labelledby="triggerId">
             <button class="dropdown-item" href="#">Setting</button>
            <button class="dropdown-item" href="#">Profile</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
