
<div class="products">
  <div class="start_img">
      <img class="banner" src="assets/images/front1_image.jpg"/>
  </div>
  <div class="product" *ngFor="let image of imageList">
  <p></p>
    <h2>{{image.text}}</h2>
   <img src="{{image.imagePath}}">
    <p>See all Offers</p>
    <button (click)="addToCart(image)">Add to Cart</button>
  </div>
  <!-- <div class="product">
    <h2>Upto 75 % off | Electronics</h2>
     <img src="/assets/images/electronic images.avif" /> 
   <p>See all Offers</p>
   <button>Add to Cart</button>
 </div>
 <div class="product">
     <h2>Only Rs.499|Your Beauty.Our Passion</h2>
     <img src="/assets/images/beuty images.avif" />
   <p>See all Offers</p>
   <button>Add to Cart</button>
</div> -->

<!-- <div class="product">
  <h2>Upto 70% off | Curated Furniture</h2>
  <img src="/assets/images/furniture images.jpeg" />
   <p>See all Offers</p>
   <button>Add to Cart</button>
</div> -->
<!-- <div class="product">
  <h2>Upto 60% off | Styles for Men </h2>
   <img src="/assets/images/cloths images 2.jpg" />
    <p>See all Offers</p>
    <button>Add to Cart</button>
</div> -->
<!-- <div class="product">
  <h2>Upto 20% off | New Arrival In Toys</h2>
   <img src="/assets/images/toys_images.webp" />
    <p>See all Offers</p>
    <button>Add to Cart</button>
</div> -->
</div>
<div class="product1">
  <h2>Up to 50% off | Exprience The Joy of Cooking With Kitchen Appliances From Store Nearby</h2>
   <img src="/assets/images/kitchen images 3.jpg" />
   <p> Explore More</p>
    <button>Add to Cart</button>
    </div>

   