/* :host{
    position:end;
    bottom: 0;;
    width: 100%;
    text-align: center;
    padding: 10px;
    
} */

 .justified-text {
    text-align: justify;
    
    
}

/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   */